:root{
    --default-purple: rgb(206, 162, 255);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 100vw;
    height: 100vh;*/
    background-color: var(--default-purple);

    overflow: hidden;
}

#menu ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.menu-item{
    list-style: none;
}


.menu-item a{
    color: rgb(255, 255, 255);
}

.menu-item a:hover{
    color: rgb(0, 255, 0);
}

.menu-item a:active{
    color: blueviolet;
}

#menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

